@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/Typescripts/People.js"></script>

<br />
<br />
<div>
    <button class="btn btn-primary" onclick="printInfo()">Obtener Info</button>
    <button class="btn btn-warning" onclick="clearInfo()">Limpiar</button>
    <br />
    <p id="p1"></p>
    <p id="p2"></p>
</div>
